
    .heading{
        text-align: center;
        height: 40px;
        width: 330px;
        margin-top: 25px;
        margin-left: 500px;
        border-radius: 20px;
        background-color: black;
        color: orange;
        box-shadow: 5px 5px 15px gray;}

.container-items{
    text-align: center;
    background-color: orange;
    height: 430px;
    width: 330px;
    margin-top: 20px;
    margin-left: 500px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px gray;}

    .search input{
        background-color: black;
        color: orange;
        height: 25px;
        width: 150px;
        margin-top: 20px;
        margin-left: 15px;
        border-radius: 5px;
        box-shadow: 5px 5px 15px gray;} 

        .search button{
            background-color: black;
            color: orange;
            height: 25px;
            width: 55px;
            margin-top: 20px;
            margin-left: 0px;
            border-radius: 5px;
            box-shadow: 5px 5px 15px gray;} 

            h2{
                text-align: center;
                height: 40px;
                width: 330px;
                margin-top: 25px;
                background-color: black;
                color: orange;
                margin-left: 0px;
                border-radius: 20px;
                box-shadow: 5px 5px 15px gray;}